@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  transition: background-color 0.5s ease, color 0.5s ease;
}

img {
  border-radius: 5%;

}

.text-xxs {
  font-size: 0.4rem;
}

#sidebar {
  /* width: 300px;
  height: 2800px; */
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #1f2937;
  color: #ffffff;
  padding: 0.5rem;
}

/* @media (min-width: 768px) {
  #sidebar {
    padding: 1rem 1rem 1rem 3rem;
    display: flex;
  }
} */

::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Hide the track */
}

::-webkit-scrollbar-thumb {
  background: transparent; /* Hide the thumb */
}
