@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  transition: background-color 0.5s ease, color 0.5s ease;
}

img {
  height: 80%;
  border-radius: 5%;
}

.text-xxs {
  font-size: 0.4rem;
}

#sidebar {
  width: 5rem;
  /* display: none; */
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #1f2937;
  color: #ffffff;
  /* height: 100vh; */
  padding: 0.5rem;
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
}

@media (min-width: 768px) {
  #sidebar {
    width: 18rem;
    padding: 1rem 1rem 1rem 3rem;
    /* display: flex; */
  }
}

::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Hide the track */
}

::-webkit-scrollbar-thumb {
  background: transparent; /* Hide the thumb */
}
