@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  min-height: 100vh;
} */

/* header {
  text-align: right;
}

header img {
  width: 8rem;
  object-fit: contain;
  margin: 3rem auto 1rem auto;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
} */

#sidebar {
  width: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f2937;
  color: #ffffff;
  height: 100vh;
  padding: 1rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

@media (min-width: 768px) {
  #sidebar {
    width: 20rem;
  }
}
